
.rodape {
    height: min-content;
    background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 32px;
    border-top: 0.4px solid black;
    display: flex;
    justify-content: space-between;
    
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-taxas {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    align-items:flex-start;
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 90px 1fr 90px;

}
.imagem-face{
   display: flex;
   justify-content: flex-end;
    margin: 5px;
    height: 45px;
    width: 50px;
}
.imagem-insta{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    height: 45px;
    width: 50px;
}

.imagem-twitter{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    height: 45px;
    width: 50px;
 
}
.texto-direitos{
    display: flex;
    justify-content: flex-end;
}
@media screen  and (min-device-width : 320px) and (max-device-width : 480px) {
	.rodape p {
margin-top: 70px;
    }


#banner {
    display:flex;
    padding-left: 280px;
    padding-top: 120px;
    padding-bottom: 50px;
    align-items: center;
    justify-items: center;
    background-size:cover;
}

#taxas {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: rgb(255, 119, 0);
    font-size: 50px;
}

article {
    padding-top: 50px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #fbff00;
    padding-top: 5%;

}

    
